{%- extends 'base.html.j2' %}
{% block body %}
{%- for user in users %}
  <div>
    {{ user.name }} <a href=/users/{{ user.name }}>edit</a> <a href=/users/{{ user.name }}/delete> delete</a>
    <br>
  </div>
{% endfor %}
{% endblock %}
