{% extends 'layout.html' %} users
    {% block body %}
        <form action="/hosts/{{ hosts['mac'] }}" method="POST">
            <table>
                <tr>
                    <td> <label for="description"> Description </label> </td>
                    <td> <label for="mac"> mac address </label> </td>
                    <td> <label for="script"> ipxe-script </label> </td>
                </tr>
                    <td> <input name="description" type="text" value="{{ hosts['description'] }}"> </td>
                    <td> <input name="mac" type="text" value="{{ hosts['mac'] }}"> </td>
                    <td> <textarea id = "myTextArea" rows = "3" cols = "40" name="ipxe-script">{% for line in hosts['ipxe-script'] %}{{ line }}
{% endfor %}</textarea> </td>
                </tr>
            </table>
        <button type="submit">Update</button>
    </form>
{% endblock %}