{% extends 'layout.html' %}
{% block body %}
<form action="/new_user" method="POST">
        <table>
            <tr>
                <td> <label for="username"> username </label> </td>
                <td> <label for="hashed"> password </label> </td>
                <td> <label for="salt"> salt </label> </td>
                <td> <label for="algorithm"> hash algorithm </label> </td>
            </tr>
            <tr>
                <td> <input name="username" type="text" value="{{ user['username'] }}"> </td>
                <td> <input name="password" type="password" value=""> </td>
                <td> <input name="salt" type="text" value="{{ user['salt'] }}"> </td>
                <td> <select name="algorithm" id="algorithm" onselect="{{ user['hash'] }}">
                        {% for algorithm in algorithms %}
                        <option value="{{ algorithm }}"> {{ algorithm }} </option>
                        {% endfor %}
<!--                        <option value="{{ user['hash'] }}"> {{ user['hash'] }} </option>-->
                    </select>
            </tr>
        </table>
    <button type="submit">Update</button>
</form>
{% endblock %}